// subscribe section

.subscribe_section {
    text-align: center;
  
    .box {
      background-color: #d4ced0;
      padding: 75px 45px;
    }
  
    .subscribe_form {
      .heading_container {
        justify-content: center;
        color: $primary2;
  
        h2 {
          padding: 0 25px;
        }
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        input {
          width: 100%;
          height: 50px;
          border: none;
          border-radius: 50px;
          outline: none;
          padding: 0 25px;
          background-color: $white;
          margin-top: 15px;
          text-align: center;
  
          &::placeholder {
            color: #171620;
          }
        }
  
        button {
          @include hero_btn($primary1, $white, 10px, 45px, 35px);
          text-transform: uppercase;
          margin-top: 35px;
          font-weight: 600;
          width: 100%;
          max-width: 285px;
        }
      }
    }
  }
  
  // end subscribe section
  